@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
body{
  background-color: rgb(230, 230, 230);
}
:root {
  color-scheme: light;
}
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.4s ease-out;
}
